---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
      	{% if post.brew-date %}
					<span class="post-meta">Brewed: {{ post.brew-date | date: "%b %-d, %Y" }} </span>
      	{% endif %}
        {% if post.bottle-date %}
        	<br/><span class="post-meta">Bottled: {{ post.bottle-date | date: "%b %-d, %Y" }}</span>
        {% endif %}
        

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} {{ post.style }}  <span class="status {{ post.brew-status }} ">{{ post.brew-status }} </span></a>

        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
