---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }} <span class="{{ page.brew-status }}">( {{ page.brew-status }} )</span></h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    
    {% if page.ambient-temp != null %}
    &#127777;{{ page.ambient-temp }}&#176; &#128167;{{ page.water-temp }}&#176;
    {% endif %}
    
    <table class="stats">
      {% if page.style != null %}
        <tr><td>Style</td><td>{{page.style}}</td></tr>
      {% endif %}  
      {% if page.brew-date != null %}
        <tr><td>Brew Date</td><td>{{page.brew-date}}</td></tr>
      {% endif %}
      {% if page.bottle-date != null %}
        <tr><td>Bottle Date</td><td>{{page.bottle-date}}</td></tr>
        {% assign dateStart = page.bottle-date | date: '%s' %}

        {% if page.brew-date != null %}
          {% assign brewDate = page.brew-date | date: '%s' %}          
          {% assign diffSeconds = dateStart | minus: brewDate %}
          {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}
          <tr><td>Fermentation</td><td>{{diffDays}} Days</td></tr>
        {% endif %}

          
        {% assign nowTimestamp = 'now' | date: '%s' %}
        {% assign diffSeconds = nowTimestamp | minus: dateStart %}
        {% assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24 %}
        <tr><td>Bottle conditioning</td><td>{{diffDays}} Days</td></tr>
      {% endif %}
      {% if page.bottles != null %}
        <tr><td>Total Bottles</td><td>{{page.bottles}}</td></tr>
      {% endif %}
      {% if page.original-gravity != null %}
        <tr><td>Original Gravity</td><td>{{page.original-gravity}}</td></tr>
      {% endif %}
      {% if page.final-gravity != null %}
        <tr><td>Final Gravity</td><td>{{page.final-gravity}}</td></tr>
      {% endif %}    
      {% if page.alcohol-pct != null %}
        <tr><td>ABV</td><td>{{page.alcohol-pct}}%</td></tr>
      {% endif %}
      {% if page.yeast != null %}
        <tr><td>Yeast</td><td>{{page.yeast}}</td></tr>
      {% endif %}
      {% if page.rating != null %}
        <tr><td>Rating</td><td>{{page.rating}}/10</td></tr>
      {% endif %}

    </table>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

{% if page.status-num >= 2 %}
    <img alt="Bottled" src="{{ site.baseurl }}/assets/bottled-{{page.number}}.jpg" onError="style.display = 'none';">
{% endif %}

{% if page.status-num >= 3 %}
  <img alt="Tasting" src="{{ site.baseurl }}/assets/skorubrew-{{page.number}}.jpg" onError="style.display = 'none';">
{% endif %}  

</article>
